---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card";
import getSortedPastEvents from "@utils/getSortedPastEvents";
import Hero from "@components/Hero.astro";
import Sponsors from "@components/Sponsors.astro";
import CodeWindow from "@components/CodeWindow.astro";
import getSortedForthcomingEvents from "@utils/getSortedForthcomingEvents";

const events = await getCollection("blog");

let forthcomingEvents = events.filter(({ data }) => data.upcoming);
forthcomingEvents = getSortedForthcomingEvents(forthcomingEvents);

let pastEvents = events.filter(({ data }) => !data.upcoming);
pastEvents = getSortedPastEvents(pastEvents);
---

<Layout>
  <Header />

  <main id="main-content">
    <Hero />

    <CodeWindow />

    <Sponsors />

    {
      forthcomingEvents.length > 0 && (
        <section class="py-8">
          <h2 class="text-2xl font-semibold tracking-wide">Upcoming Events</h2>
          <ul>
            {forthcomingEvents.map(({ data, slug }) => (
              <Card
                href={`/events/${slug}/`}
                frontmatter={data}
                secHeading={false}
              />
            ))}
          </ul>
        </section>
      )
    }

    {
      pastEvents.length > 0 && (
        <section id="recent-events">
          <h2>Past Events</h2>
          <ul>
            {pastEvents.map(
              ({ data, slug }, index) =>
                index < 2 && (
                  <Card
                    href={`/events/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-events-btn-wrapper">
      <LinkButton href="/events/">
        All Events
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== upcoming & Recent Posts Sections ===== */
  #upcoming,
  #recent-events {
    @apply pb-6 pt-12;
  }
  #upcoming h2,
  #recent-events h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  #main-content h1 {
    @apply inline-block bg-gradient-to-r from-blue-400 to-cyan-500 bg-clip-text text-lg font-semibold tracking-tighter text-transparent sm:my-8 sm:text-4xl;
  }

  .all-events-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
