---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  topic: string;
  topicName: string;
}

const { currentPage, totalPages, paginatedPosts, topic, topicName } =
  Astro.props;
---

<Layout title={`Topic: ${topicName} | ${SITE.title}`}>
  <Header activeNav="topics" />
  <Main
    pageTitle={[`Topic:`, `${topicName}`]}
    titleTransition={topic}
    pageDesc={`All the events with the topic "${topicName}".`}
  >
    <h1 slot="title" transition:name={topic}>{`Topic:${topic}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/events/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/topics/${topic}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/topics/${topic}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
